<div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Add a task">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Add</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->